<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="fyus"/>
    <meta name="robots" content="all"/>
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/swiper.min.css">
    <link rel="stylesheet" href="./static/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="./static/css/common.css">
    <link rel="stylesheet" href="./static/font/iconfont.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./static/css/home.css">
    <script src="./static/js/jquery.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/perfect-scrollbar.min.js"></script>
    <script src="./static/js/swiper.jquery.min.js"></script>
    <script src="./static/js/common.js"></script>
    <script src="./static/js/home.js"></script>
    <title>主页</title>
    <style>
        .headInner{
            width: 100%;
        }
    </style>
</head>
<body>
<div class="containner">
    <header class="banner">
        <img class="bannerimg" src="./static/images/首页/bg.png" alt="">
        <img class="beijin" src="./static/images/首页/bgfix.png" alt="">
        <nav class="head">
            <div class="headInner">
                <div class="logo floatLeft">
                </div>
                <ul class="navUL floatLeft">
                    <li>首页</li>
                    <li class="productCenter active">产品中心
                        <div class="productCenterInner">
                            <div class="left floatLeft">
                                <div class="leftInner">
                                    <img src="./static/images/首页/pic-1.png" alt="">
                                    <p>水性涂料</p>
                                    <div class="line">
                                        <span></span>
                                    </div>
                                    <p>分类1</p>
                                    <p>分类2</p>
                                    <p>分类3</p>
                                </div>
                            </div>
                            <div class="right floatLeft">
                                <div class="leftInner">
                                    <img src="./static/images/首页/pic-2.png" alt="">
                                    <p>油性涂料</p>
                                    <div class="line">
                                        <span></span>
                                    </div>
                                    <p>分类1</p>
                                    <p>分类2</p>
                                    <p>分类3</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>工程案例</li>
                    <li>新闻中心</li>
                    <li>我们的服务</li>
                    <li>联系我们</li>
                </ul>
                <div class="searchInput floatLeft">
                    <i class="icon iconfont iconseach"></i>
                    <input class="clickSearchInput" placeholder="请输入内容" type="text">
                    <ul class="SearchInputUL ps_1" >
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果3</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果4</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果5</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果6</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果7</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果8</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果9</span></li>
                        <li class="el-cascader-menu__item" data-index="0"><span>搜索结果10</span></li>
                    </ul>
                </div>
            </div>
            <div class="contactNumber floatright">
                <p class="teleNumber">400-078-1789</p>
                <p class="teleNumber">18717148659</p>
            </div>
        </nav>
    </header>
    <div class="width1200 productCenterTabbarCon">

        <div class="productCenterTabbar floatLeft">
            <p class="productCenterName">产品中心</p>
            <p class="productCenterEnglishName">Product Center</p>
            <ul class="TabbarUL">
                <li>水性涂料</li>
                <li>油性涂料</li>
            </ul>
        </div>
        <ul class="productCenterTabbarUL floatLeft">
            <li>
                <div class="img">
                    <img src="./static/images/首页/home-chanpin1.png" alt="">
                </div>
                <div class="name">
                    醇酸调和漆
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="./static/images/首页/home-chanpin2.png" alt="">
                </div>
                <div class="name">
                    环氧煤沥青防腐漆
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="./static/images/首页/home-chanpin3.png" alt="">
                </div>
                <div class="name">
                    聚安酯面漆
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="./static/images/首页/home-chanpin4.png" alt="">
                </div>
                <div class="name">
                    环氧地平面漆
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="./static/images/首页/home-chanpin5.png" alt="">
                </div>
                <div class="name">
                   丙烯酸聚胺酯面漆
                </div>
            </li>
            <li>
                <div class="more">
                    <span class="more">查看更多+</span>
                </div>
            </li>
        </ul>

    </div>
    <div class="width1200 EngineeringCon">
        <p class="productCenterName">工程案例</p>
        <p class="productCenterEnglishName">Engineering Case</p>
    </div>
    <ul class="EngineeringBanner">
        <li>
            <div class="bannerImg">
                <img src="./static/images/首页/home-anli1.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">01</span>
            
                <p class="description">桥梁防腐装饰涂装工程</p>
            </div>
        </li>
        <li>
            <div class="bannerImg">
                
                <img src="./static/images/首页/home-anli2.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">02</span>
              
                <p class="description">成都新贵大承建大型塑胶球场地坪工程</p>
            </div>
        </li>
        <li>
            <div class="bannerImg">
                <img src="./static/images/首页/home-anli3.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">03</span>
               
                <p class="description">广州兴顺燃气工程</p>
            </div>
        </li>
        <li>
            <div class="bannerImg">
                <img src="./static/images/首页/home-anli4.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">04</span>
             
                <p class="description">宜宾燃气公司加压站</p>
            </div>
        </li>
        <li>
            <div class="bannerImg">
                <img src="./static/images/首页/home-anli5.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">05</span>
            
                <p class="description">重庆江北机场供油管线项目</p>
            </div>
        </li>
        <li>
            <div class="bannerImg">
                <img src="./static/images/首页/home-anli6.png" alt="">
            </div>
            <div class="yellowDiv">
                <span class="bigNum">06</span>
             
                <p class="description">华西制药厂地坪工程</p>
            </div>
        </li>
    </ul>
    <div class="width1200" style="text-align: center;">
            <span class="bannerMore">
                查看更多+
             </span>
    </div>
    <div class="width1200 EngineeringCon">
        <p class="productCenterName">我们的优势</p>
        <p class="productCenterEnglishName">Our Advantage</p>
        <div class="OurAdvantageCon">
            <div class="left floatLeft">
                <div>
                    <div class="bgIcon floatLeft">
                        <img src="./static/images/首页/bgicon.png" alt="">
                        <span class="bgIconNumber">01</span>
                    </div>
                    <div class="bgIconRignt floatLeft">
                        <p class="iconName">卓越品质</p>
                        <p class="icondetail">严格按照国际标准生成制造，国内的产品价格，真正的高品质性价比</p>
                    </div>
                </div>
                <div style="margin-top:300px">
                    <div class="bgIcon floatLeft">
                        <img src="./static/images/首页/bgicon.png" alt="">
                        <span class="bgIconNumber">02</span>
                    </div>
                    <div class="bgIconRignt floatLeft">
                        <p class="iconName">专业配套</p>
                        <p class="icondetail">涂料产品种类多样，对各种科防腐蚀领域，具备专业的涂装配套系统</p>
                    </div>
                </div>
            </div>
            <div class="center floatLeft">
                <img src="./static/images/首页/home-youshi.png" alt="">
            </div>
            <div class="right floatLeft">
                <div>
                    <div class="bgIcon floatLeft">
                        <img src="./static/images/首页/bgicon.png" alt="">
                        <span class="bgIconNumber">03</span>
                    </div>
                    <div class="bgIconRignt floatLeft">
                        <p class="iconName">应用广泛</p>
                        <p class="icondetail">涂装领域涉及面广，包括重防腐防护、桥梁、海洋、石化、机械、钢结构、混凝土</p>
                    </div>
                </div>
                <div style="margin-top:300px">
                    <div class="bgIcon floatLeft">
                        <img src="./static/images/首页/bgicon.png" alt="">
                        <span class="bgIconNumber">04</span>
                    </div>
                    <div class="bgIconRignt floatLeft">
                        <p class="iconName">实力厂家</p>
                        <p class="icondetail">新贵大涂料集研发、生产、销售于一体，重视科研技术，涂料化工实力厂家</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="width1200 EngineeringCon NewsCenterULCon">
        <p class="productCenterName">新闻中心</p>
        <p class="productCenterEnglishName">News Center</p>
        <ul class="NewsCenterUL">
            <li class="active">行业动态</li>
            <li>企业新闻</li>
        </ul>
    </div>
    <div class="NewsCenterMain">
        <div class="leftBlue floatLeft">
            <img style="height: 740px;" src="./static/images/首页/bluebg.png" alt="">
        </div>
        <div class="news-cons">
            <div class="width1200">
                <div class="left">
                    <div class="imgCons">
                        <img src="./static/images/首页/home-xinwen1.png" alt="">
                    </div>
                    <div class="text" style="border-radius: 0 0 5px 5px;">
                        <h3>环氧富锌底漆和冷镀锌底漆区别有哪些？</h3>
                        <p>工业重防腐领域中有很多产品种类，其中底漆作为较为重要的防腐产品，有很多独特的性能优势，而在众多底漆产品有，利用率较高的要属具有独特阴极保护效果的环氧富锌底漆了，该漆含有丰富的锌粉，锌粉的电...</p>
                        <div class="set">
                            <span class="time">2019.10.12</span>
                            <a href="#">查看详情>></a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <div class="imgCons more">
                                <a href="#">更多资讯+</a>
                            </div>
                        </li>
                        <li>
                            <div class="imgCons">
                                <img src="./static/images/首页/home-xinwen2.png" alt="">
                            </div>
                            <div class="text">
                                <h3>环氧富锌底漆和冷镀锌底漆区别有哪些？</h3>
                                <div class="set">
                                    <span class="time">2019.10.12</span>
                                    <a href="#">查看详情>></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="imgCons">
                                <img src="./static/images/首页/home-xinwen3.png" alt="">
                            </div>
                            <div class="text">
                                <h3>环氧富锌底漆和冷镀锌底漆区别有哪些？</h3>
                                <div class="set">
                                    <span class="time">2019.10.12</span>
                                    <a href="#">查看详情>></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="imgCons">
                                <img src="./static/images/首页/home-xinwen4.png" alt="">
                            </div>
                            <div class="text">
                                <h3>环氧富锌底漆和冷镀锌底漆区别有哪些？</h3>
                                <div class="set">
                                    <span class="time">2019.10.12</span>
                                    <a href="#">查看详情>></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="width1200 EngineeringCon CooperationPartnerCon">
        <p class="productCenterName">合作伙伴</p>
        <p class="productCenterEnglishName">Cooperation Partner</p>
        <ul class="CooperationPartnerUL">
            <li>
                <img src="./static/images/首页/home-huoban1.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban2.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban3.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban4.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban5.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban6.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban7.png" alt="">
            </li>
            <li>
                <img src="./static/images/首页/home-huoban8.png" alt="">
            </li>
        </ul>
    </div>
    <div class="OnlineBookingCon">
        <div class="width1200 EngineeringCon">
            <p class="productCenterName">在线预约</p>
            <p class="productCenterEnglishName">Online booking</p>
            <ul class="OnlineBookingUL">
                <li>
                    <div class="borderBottom">
                        <span class="title">姓名：</span>
                        <input placeholder="" type="text">
                    </div>
                </li>
                <li>
                    <div class="borderBottom">
                        <span>电话：</span>
                        <input placeholder="" type="text">
                    </div>

                </li>
                <li>
                    <div class="borderBottom">
                        <span>涂刷面积：</span>
                        <input placeholder="" type="text">m
                    </div>
                </li>
            </ul>
           
        
            <div class="OnlineBookingInput">
                <div class="OnlineBookingLeft floatLeft">
                    <span class="titlte floatLeft">所需的产品</span>
                    <div class="inputCon floatLeft el-input">
                        <input class="el-input__inner" placeholder="请选择产品" type="text">
                        <i class="icon ion-arrow-down-b" style="display: block;"></i>
                        <i class="icon ion-arrow-up-b" style="display: none;"></i>
                        <div class="el-teacherSelectMenuCons menuCons">
                            <ul class="el-teacherCascader-menu el-cascader-menu first ps_2">
                                <!-- <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li> -->
                            </ul>
                            <ul id="two" class="el-teacherCascader-menu el-cascader-menu second ps_3">
                                <!-- <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li> -->
                            </ul>
                            <ul id="three" class="el-teacherCascader-menu el-cascader-menu third ps_4">
                                <!-- <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果1</span></li>
                                <li class="el-cascader-menu__item" data-index="0"><span>搜索结果2</span></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="OnlineBookingRight floatLeft">
                    <span class="titlte floatLeft">涂刷的建筑类型</span>
                    <ul class="inputCon floatLeft">
                        <li class="active">工业</li>
                        <li>地坪</li>
                        <li>类型</li>
                        <li>其他</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="width1200" style="text-align: center;">
                <span class="bannerMore2">
                    免费取样
                 </span>
        </div>
    </div>
    <footer class="footer">
        <div class="width1200">
            <div class="top">
                <div class="footerLogo floatLeft">
                    <img src="./static/images/首页/logo-2.png" alt="">
                </div>
                <ul class="footerUL floatRight">
                    <li>联系我们</li>
                    <li>我们的服务</li>
                    <li>新闻中心</li>
                    <li>工程案例</li>
                    <li class="productCenter active">产品中心</li>
                    <li>首页</li>
                </ul>
            </div>
            <div class="contactDetailsCon">
                <p class="ContactUs">Contact Us</p>
                <p class="telePhone">400-078-1816</p>
                <p class="address"><span>地址：</span><span>成都市邛崃羊安工业园区羊横五路七号</span></p>
                <p class="mailbox"><span>邮箱</span><span>59077410@qq.com</span></p>
            </div>
            <div class="LinksCon">
                <span class="name floatLeft">友情链接:</span>
                <ul class="LinksConUL floatLeft">
                    <li>
                        <a href="">四川化工集团</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">四川化工集团</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li> <li>
                        <a href="">四川化工集团</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li> <li>
                        <a href="">四川化工集团</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li> <li>
                        <a href="">四川化工集团</a>
                        <span class="smallLine"></span>
                    </li>
                    <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li> 
                    <li>
                        <a href="">四川化工集团</a>
                        <!-- <span class="smallLine"></span> -->
                    </li>
                    <!-- <li>
                        <a href="">仁恒直地</a>
                        <span class="smallLine"></span>
                    </li> <li>
                        <a href="">四川化工集团</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </footer>
    <div class="fixFooterCon">
        <div class="width1200 fixFooter">
            <p>备案号:蜀ICP备18004214号-1</p>
        </div>
    </div>
    <span class="msgIcon">
             <i class="icon iconfont iconzaixiangoutong"></i>
         </span>
    <span class="phoneIcon">
        <i class="icon iconfont iconlianxidianhua"></i>
        <span class="phoneIconTip">
            <span class="phoneIconTipP1">您好，商务咨询请联系</span></br>
                <span class="phoneIconTipP2">400-112-5563</span>
        </span>
    </span>

</div>
<script>

const psouterTop = new PerfectScrollbar('.ps_1', {
            wheelPropagation: false,
        })
        const psouterTop2 = new PerfectScrollbar('.ps_2', {
            wheelPropagation: false,
        })
        const psouterTop3 = new PerfectScrollbar('.ps_3', {
            wheelPropagation: false,
        })
        const psouterTop4 = new PerfectScrollbar('.ps_4', {
            wheelPropagation: false,
        })

$('.clickSearchInput').off('click').on('click',function(e){
    e.stopPropagation();
    $('.SearchInputUL').show();
    $('.SearchInputUL').find('.el-cascader-menu__item').on('click',function(){
        $('.SearchInputUL').hide();
        var value = $(this).find('span').html()
        console.log(value)
        $('.clickSearchInput').val(value)
    })
})
$('.NewsCenterUL').on('click', 'li', function () {
            $(this).addClass('active').siblings('li').removeClass('active');
        })
$('.inputCon').on('click', 'li', function () {
    $(this).addClass('active').siblings('li').removeClass('active');
})

 
var options = [
    {
        value: 'zhinan',
        label: '指南',
        children: [{
            value: 'shejiyuanze',
            label: '设计原则',
            children: [{
                value: 'yizhi',
                label: '一致'
            }, {
                value: 'fankui',
                label: '反馈'
            }, {
                value: 'xiaolv',
                label: '效率'
            }, {
                value: 'kekong',
                label: '可控'
            }]
        }, {
            value: 'daohang',
            label: '导航',
            children: [{
                value: 'cexiangdaohang',
                label: '侧向导航'
            }, {
                value: 'dingbudaohang',
                label: '顶部导航'
            }]
        }]
    },
    {
        value: 'zujian',
        label: '组件',
        children: [{
            value: 'basic',
            label: 'Basic',
            children: [{
                value: 'layout',
                label: 'Layout 布局'
            }, {
                value: 'color',
                label: 'Color 色彩'
            }, {
                value: 'typography',
                label: 'Typography 字体'
            }, {
                value: 'icon',
                label: 'Icon 图标'
            }, {
                value: 'button',
                label: 'Button 按钮'
            }]
        },
            {
                value: 'form',
                label: 'Form',
                children: [{
                    value: 'radio',
                    label: 'Radio 单选框'
                }, {
                    value: 'checkbox',
                    label: 'Checkbox 多选框'
                }, {
                    value: 'input',
                    label: 'Input 输入框'
                }, {
                    value: 'input-number',
                    label: 'InputNumber 计数器'
                }, {
                    value: 'select',
                    label: 'Select 选择器'
                }, {
                    value: 'cascader',
                    label: 'Cascader 级联选择器'
                }, {
                    value: 'switch',
                    label: 'Switch 开关'
                }, {
                    value: 'slider',
                    label: 'Slider 滑块'
                }, {
                    value: 'time-picker',
                    label: 'TimePicker 时间选择器'
                }, {
                    value: 'date-picker',
                    label: 'DatePicker 日期选择器'
                }, {
                    value: 'datetime-picker',
                    label: 'DateTimePicker 日期时间选择器'
                }, {
                    value: 'upload',
                    label: 'Upload 上传'
                }, {
                    value: 'rate',
                    label: 'Rate 评分'
                }, {
                    value: 'form',
                    label: 'Form 表单'
                }]
            },
            {
                value: 'data',
                label: 'Data',
                children: [{
                    value: 'table',
                    label: 'Table 表格'
                }, {
                    value: 'tag',
                    label: 'Tag 标签'
                }, {
                    value: 'progress',
                    label: 'Progress 进度条'
                }, {
                    value: 'tree',
                    label: 'Tree 树形控件'
                }, {
                    value: 'pagination',
                    label: 'Pagination 分页'
                }, {
                    value: 'badge',
                    label: 'Badge 标记'
                }]
            },
            {
                value: 'notice',
                label: 'Notice',
                children: [{
                    value: 'alert',
                    label: 'Alert 警告'
                }, {
                    value: 'loading',
                    label: 'Loading 加载'
                }, {
                    value: 'message',
                    label: 'Message 消息提示'
                }, {
                    value: 'message-box',
                    label: 'MessageBox 弹框'
                }, {
                    value: 'notification',
                    label: 'Notification 通知'
                }]
            }, {
                value: 'navigation',
                label: 'Navigation',
                children: [{
                    value: 'menu',
                    label: 'NavMenu 导航菜单'
                }, {
                    value: 'tabs',
                    label: 'Tabs 标签页'
                }, {
                    value: 'breadcrumb',
                    label: 'Breadcrumb 面包屑'
                }, {
                    value: 'dropdown',
                    label: 'Dropdown 下拉菜单'
                }, {
                    value: 'steps',
                    label: 'Steps 步骤条'
                }]
            }, {
                value: 'others',
                label: 'Others',
                children: [{
                    value: 'dialog',
                    label: 'Dialog 对话框'
                }, {
                    value: 'tooltip',
                    label: 'Tooltip 文字提示'
                }, {
                    value: 'popover',
                    label: 'Popover 弹出框'
                }, {
                    value: 'card',
                    label: 'Card 卡片'
                }, {
                    value: 'carousel',
                    label: 'Carousel 走马灯'
                }, {
                    value: 'collapse',
                    label: 'Collapse 折叠面板'
                }]
            }]
    }, {
        value: 'ziyuan',
        label: '资源',
        children: [{
            value: 'axure',
            label: 'Axure Components'
        }, {
            value: 'sketch',
            label: 'Sketch static'
        }, {
            value: 'jiaohu',
            label: '组件交互文档'
        }]
    }];
    let index;
    let second;
    let value;
        function setOptions(arr) {
        let str = ``;
        for (let i in arr) {
            let item = arr[i];
            if (item.children && item.children.length) {
                str += `<li class="el-cascader-menu__item" data-index="${i}"><span>${item.label}</span><i class="icon ion-arrow-right-b"></i></li>`;
            } else {
                str += `<li class="el-cascader-menu__item" data-index="${i}"><span>${item.label}</span></li>`;
            }

        }
        return str
    }
    document.addEventListener('click', function(){
        $('.menuCons').hide();
        $('.el-cascader-menu.second').hide();
        $('.el-cascader-menu.third').hide();
        $('.el-input').find('.ion-arrow-down-b').show();
        $('.el-input').find('.ion-arrow-up-b').hide();
        $('.SearchInputUL').hide();
        
    })
    $('.menuCons').click(function (e) {
        e.stopPropagation();
    })
    $('.el-input').click(function (e) {
        $('.el-input').find('.ion-arrow-down-b').hide();
        $('.el-input').find('.ion-arrow-up-b').show();
        e.stopPropagation();
        $('.menuCons').show();
        $('.el-cascader-menu.first').html(setOptions(options));
        $('.el-cascader-menu.second').hide();
        $('.el-cascader-menu.third').hide();
        $('.el-cascader-menu.first').find('.el-cascader-menu__item').click(function () {
            index = $(this).attr('data-index');  // 获取 data-index 的值，也就是 options 的索引号
            $(this).addClass('active').siblings('li').removeClass('active')
            // console.log(index)
            let secondList = options[index].children;
            // console.log(secondList);
            $('.el-cascader-menu.third').hide();
            if (secondList && secondList.length) {
                $('.el-cascader-menu.second').show().html(setOptions(secondList));
            }else {
                value = options[index].label;
                $('.el-input__inner').val(value);
                $('.menuCons').hide();
                $('.el-input').find('.ion-arrow-down-b').show();
                $('.el-input').find('.ion-arrow-up-b').hide();
                return
            }
            $('.el-cascader-menu.second').find('.el-cascader-menu__item').on('click',function () {
                second = $(this).attr('data-index');  // 获取 data-index 的值，也就是 options 的索引号
                // console.log(second);
                let thirdList = options[index].children[second].children;
                $(this).addClass('active').siblings('li').removeClass('active')
                // console.log(thirdList)
                if (thirdList && thirdList.length) {
                    $('.el-cascader-menu.third').show().html(setOptions(thirdList));
                    $('.el-cascader-menu.third').find('.el-cascader-menu__item').click(function () {
                        let third = $(this).attr('data-index');
                        // console.log($(this));
                        // console.log(thirdList);
                        value = options[index].label+'/'+options[index].children[second].label+'/'+thirdList[third].label;
                        $('.el-input__inner').val(value);
                        $('.menuCons').hide()
                        $('.el-input').find('.ion-arrow-down-b').show();
                        $('.el-input').find('.ion-arrow-up-b').hide();
                    })
                }else {
                    value = options[index].label+'/'+options[index].children[second].label;
                    $('.el-input__inner').val(value);
                    $('.menuCons').hide();
                    $('.el-input').find('.ion-arrow-down-b').show();
                    $('.el-input').find('.ion-arrow-up-b').hide();
                }
            })
        })
    })


        
    //  function testOptions(arr) {
    //         let str = ``;
    //         for (let i in arr) {
    //             let item = arr[i];
    //             str += `<li class="el-cascader-menu__item" data-index="${i}"><span>${item.element_name}</span></li>`;

    //         }
    //         return str
    //     }
</script>
</body>
</html>
